<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.mapper.SendRecordEntityMapper">
  <resultMap id="BaseResultMap" type="com.neuedu.his.jpa.pojo.SendRecordEntity">
    <id column="SEND_NO" jdbcType="CHAR" property="sendNo" />
    <result column="USER_NO" jdbcType="CHAR" property="userNo" />
    <result column="USER_NAME" jdbcType="CHAR" property="userName" />
    <result column="RECIPE_NO" jdbcType="CHAR" property="recipeNo" />
    <result column="SEND_DAET" jdbcType="TIMESTAMP" property="sendDaet" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SEND_NO, USER_NO, USER_NAME, RECIPE_NO, SEND_DAET
  </sql>
  <select id="selectByExample" parameterType="com.neuedu.his.jpa.pojo.SendRecordEntityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from send_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from send_record
    where SEND_NO = #{sendNo,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from send_record
    where SEND_NO = #{sendNo,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.neuedu.his.jpa.pojo.SendRecordEntityExample">
    delete from send_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neuedu.his.jpa.pojo.SendRecordEntity">
    insert into send_record (SEND_NO, USER_NO, USER_NAME, 
      RECIPE_NO, SEND_DAET)
    values (#{sendNo,jdbcType=CHAR}, #{userNo,jdbcType=CHAR}, #{userName,jdbcType=CHAR}, 
      #{recipeNo,jdbcType=CHAR}, #{sendDaet,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.his.jpa.pojo.SendRecordEntity">
    insert into send_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sendNo != null">
        SEND_NO,
      </if>
      <if test="userNo != null">
        USER_NO,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="recipeNo != null">
        RECIPE_NO,
      </if>
      <if test="sendDaet != null">
        SEND_DAET,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sendNo != null">
        #{sendNo,jdbcType=CHAR},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=CHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=CHAR},
      </if>
      <if test="recipeNo != null">
        #{recipeNo,jdbcType=CHAR},
      </if>
      <if test="sendDaet != null">
        #{sendDaet,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neuedu.his.jpa.pojo.SendRecordEntityExample" resultType="java.lang.Integer">
    select count(*) from send_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update send_record
    <set>
      <if test="record.sendNo != null">
        SEND_NO = #{record.sendNo,jdbcType=CHAR},
      </if>
      <if test="record.userNo != null">
        USER_NO = #{record.userNo,jdbcType=CHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=CHAR},
      </if>
      <if test="record.recipeNo != null">
        RECIPE_NO = #{record.recipeNo,jdbcType=CHAR},
      </if>
      <if test="record.sendDaet != null">
        SEND_DAET = #{record.sendDaet,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update send_record
    set SEND_NO = #{record.sendNo,jdbcType=CHAR},
      USER_NO = #{record.userNo,jdbcType=CHAR},
      USER_NAME = #{record.userName,jdbcType=CHAR},
      RECIPE_NO = #{record.recipeNo,jdbcType=CHAR},
      SEND_DAET = #{record.sendDaet,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.his.jpa.pojo.SendRecordEntity">
    update send_record
    <set>
      <if test="userNo != null">
        USER_NO = #{userNo,jdbcType=CHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=CHAR},
      </if>
      <if test="recipeNo != null">
        RECIPE_NO = #{recipeNo,jdbcType=CHAR},
      </if>
      <if test="sendDaet != null">
        SEND_DAET = #{sendDaet,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SEND_NO = #{sendNo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.his.jpa.pojo.SendRecordEntity">
    update send_record
    set USER_NO = #{userNo,jdbcType=CHAR},
      USER_NAME = #{userName,jdbcType=CHAR},
      RECIPE_NO = #{recipeNo,jdbcType=CHAR},
      SEND_DAET = #{sendDaet,jdbcType=TIMESTAMP}
    where SEND_NO = #{sendNo,jdbcType=CHAR}
  </update>
</mapper>